/Users/lachmed/Documents/ANN_Final_notebooks_and_files/data_files/dsc_fc_summed_spectra_2017_v01.csv filter=lfs diff=lfs merge=lfs -text
ls-files filter=lfs diff=lfs merge=lfs -text
/Users/lachmed/Documents/ANN_Final_notebooks_and_files/data_files/dsc_fc_summed_spectra_2018_v02.csv filter=lfs diff=lfs merge=lfs -text
